.filter {
  margin-top: 20px;
}

#filter__label {
  font-size: 26px;
  font-weight: bold;
  margin-right: 20px;
}

#filter__select {
  background-color: #901c1c;
  color: white;
  font-size: 26px;
  border-radius: 5px;
  padding: 10px;
}

#filter__select option {
  color: white;
  font-size: 26px;
}
